<h1>
  {{title}}
</h1>

<div>
  <div *ngFor="let user of users" class="panel">
    <span>
      Usuário: {{user.username}}  <br/>
      Senha: {{user.password}}  <br/>
      Shell: {{user.shell}}  <br/>
      Diretório raiz: {{user.homeDir}}  <br/>
    </span>
  </div>
</div>
